@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600&family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes scroll-once {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll-once {
  display: flex;
  animation: scroll-once 25s linear infinite;
  width: max-content;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slideInLeft {
  animation: slideInLeft 0.3s ease-out forwards; 
}
.btn {
  @apply bg-[#0f4e23] text-white font-manrope font-semibold text-[20px] leading-[26px] px-10 py-4 rounded-full w-[192px] h-[58px] flex items-center justify-center gap-2;
}